/*preset for box sizing*/

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
 }

/*img {
	object-fit: cover;
	width: 100%;
	height: auto;
	object-position: 50%;
}*/

 body,h1,h2,h3,h4,h5,h6,p,span,ul,li{
	margin:0;
	padding:0;
}
body{
	width:100%;
	font-family: 'Roboto', sans-serif;
}
span,h2,h1,p{
	opacity: 0.7;
}
.company-logo-title{
	padding: 20px 40px;
	display: flex;
	align-items: center;
}

.logo img{
	width:82px;
}

.site-title {
	margin:0px auto;
}

.site-title h1{
	font-weight: 400;
	font-size: 2.5em;
	opacity: 0.6;
}

.nav-bar{
	border-top: 0.2px solid rgba(0, 0, 0, .2);
	border-bottom: 0.2px solid rgba(0, 0, 0, .2);
    -webkit-background-clip: padding-box; /* for Safari */
    background-clip: padding-box; /* for IE9+, Firefox 4+, Opera, Chrome */
}
.nav-bar ul{
	padding:12px 40px 12px 0px;
	text-align: right;
}
.nav-bar ul li{
	display: inline;
	padding:10px;
	text-transform: uppercase;
	font-size: 16px;
	font-weight: 400;
}

.nav-bar ul li a{
	text-decoration: none;
	color:black;
	opacity: 0.7;
}

.nav-bar ul li a:hover{
	color: #08c;
}

.nav-bar ul li.selected a{
	color: #08c;
}

#featured-home{
	background-color: #f9f9f9;
}
#about-us{
	background-color: #e0e0ce;
}

#partners{
	background-color: #f9f9f9;
}

#services{
	background-color: #e0e0ce;
}

#teams{
	background-color: #f9f9f9;
}
#contact-us{
	background-color: #e0e0ce;
}


/*section common css*/
section{
	width: 100%;
	padding:30px 40px;
}
.section-title{
	text-align: center;
	line-height: 1.5;
	letter-spacing: 0.2px;
}
.section-title h2{
	font-weight: 400px;
	font-size: 24px;
	padding-bottom: 15px;
	text-transform: uppercase;
	opacity: 0.7;
}

.section-title span{
	font-weight: 300px;
	font-size: 16px;
	margin-bottom: 10px;
	opacity: 0.6;
}


/*featured home css*/
#featured-home .section-detail{
	text-align: center;
}

#featured-home .section-detail .slider-image img {
	max-width: 700px;
}
#featured-home .section-detail .slider-caption{
	padding:15px;
}


/*about us section css*/
.media {
	display: flex;
}

#about-us .media-image img{
	width:245px;
}

.media-caption{
	text-align: center;
	padding-top:10px;
}

.media-body{
	padding-left: 20px;
	line-height: 1.5;
}


/*partners section css*/

#partners .section-detail{
	display: flex;
	justify-content:space-between;
}

#partners .partner-logo{
	padding:20px 30px;
}

#partners .partner-logo img {
	-webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
    opacity: 0.7;
}
#partners .partner-logo img:hover {
	filter: none;
  -webkit-filter: grayscale(0%);
  opacity: 1;
}

/*team section css*/
.section-detail{
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
}

#featured-home .section-detail{
	flex-direction: column !important;
}

.team-member{
	width: 390px;
	height: 405px;
	/*background-color: #FCAE06;*/
	text-align: center;
}

#teams .team-member .team-member-photo img{
	padding:20px;
	width: 360px;
	height: 300px;
}
#teams .team-member-detail {
	display: flex;
	justify-content: center;
	
}

#teams .team-member-detail .detail{
	background-color: #fff;
	width:70%;
	display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0 10px 0px;
    margin-top:-50px;
}
#teams .team-member-detail .team-member-name span{
	display: block;
	text-align: center;		
	letter-spacing: 0.25px;
}
#teams .team-member-detail .team-member-social{
	display: none;
}

.team-member .team-member-social div{
	padding: 10px;
}

.service{
	width: 33.33%;
	height: 270px;
	text-align: center;
}

.service .service-image{
	padding:10px;
}

.service .service-title{
	padding:10px 0;
	font-weight: 600;
	letter-spacing: 0.2px;
}

.service .service-detail{
	max-width: 80%;
	margin:0px auto;
	line-height: 1.5;
	letter-spacing: 0.2px;
}

/*contact us section*/
.contact-us-form{
	max-width: 555px;
	margin:0 auto;
}
.contact-us-form form{
	display: flex;
	flex-direction: column;
}

.contact-us-form label{
	margin: 15px 0;
}

.contact-us-form label input{
	width: 555px;
	height: 67px;
	padding:10px 20px;
}

.contact-us-form label input.fullname{
	font-weight: 300;
	opacity: .8;
	border: solid 2px #fff;
	background-color: transparent;
}

.contact-us-form label input.email{
	font-weight: 300;
	opacity: .8;
	border: solid 2px #fff;
	background-color: transparent;
}

.contact-us-form label textarea.message{
	width: 555px;
	height: 207px;
	font-weight: 300;
	padding:10px 20px;
	opacity: .8;
	border: solid 2px #fff;
	background-color: transparent;
}

.contact-us-form label input.submit{
	width: 26%;
	font-size: 16px;
	font-weight: 300;
	opacity: .8;
	border: solid 2px #fff;
	background-color: transparent;
}

/*footer section css*/
#footer{
	background-color: #f9f9f9;
	width: 100%;
	padding:30px 40px;
}