/*preset for box sizing*/

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
 }

 body,h1,h2,h3,h4,h5,h6,p,span,ul,li{
	margin:0;
	padding:0;
}
body{
	width:100%;
	font-family: 'Roboto', sans-serif;
}
.company-logo-title{
	padding: 20px 40px;
	display: flex;
	align-items: center;
}

.logo img{
	width:82px;
}

.site-title {
	margin:0px auto;
}

.site-title h1{
	font-weight: 400;
	font-size: 2.5em;
}

.nav-bar{
	border-top: 0.2px solid rgba(0, 0, 0, .2);
	border-bottom: 0.2px solid rgba(0, 0, 0, .2);
    -webkit-background-clip: padding-box; /* for Safari */
    background-clip: padding-box; /* for IE9+, Firefox 4+, Opera, Chrome */
}
.nav-bar ul{
	padding:12px 40px 12px 0px;
	text-align: right;
}
.nav-bar ul li{
	display: inline;
	padding:10px;
	text-transform: uppercase;
	font-size: 16px;
	font-weight: 300;
}

.nav-bar ul li a{
	text-decoration: none;
	color:black;
}

.nav-bar ul li a:hover{
	background-color: #d1603d;
}
.nav-bar ul li a:active{
	background-color: #d1603d;
}


#featured-home{
	background-color: #e0e0ce;
}
#about-us{
	background-color: #f9f9f9;
}

#partners{
	background-color: #e0e0ce;
}

#services{
	background-color: #f9f9f9;
}

#teams{
	background-color: #e0e0ce;
}
#contact-us{
	background-color: #f9f9f9;
}


/*section common css*/
section{
	width: 100%;
	height: 450px;
	padding:30px 40px;
}

.section-title{
	text-align: center;
	font-weight: 400px;
	font-size: 20px;
	padding-bottom: 15px;
	text-transform: uppercase;
}


/*featured home css*/
#featured-home .section-detail{
	text-align: center;
}
#featured-home .section-detail .slider-image img {
	width:700px;
}
#featured-home .section-detail .slider-caption{
	padding:15px;
}


/*about us section css*/
.media {
	display: flex;
}

#about-us .media-image img{
	width:245px;
}

.media-caption{
	text-align: center;
	padding-top:10px;
}

.media-body{
	padding-left: 20px;
	line-height: 1.5;
}